
    <!-- WRAPPER -->
    <div id="wrapper">

      <div id="shop">

        <!-- PAGE TITLE -->
        <header id="page-title">
          <div class="container">
            <h1>Sign In</h1>

            <ul class="breadcrumb">
              <li><a href="/login">Sign In</a></li>
              <li class="active">Sign In</li>
            </ul>
          </div>
        </header>


        <section class="container">

          <div class="row">

            <!-- LOGIN -->
            <div class="col-md-6">

            <h2>Sign <strong>In</strong></h2>
<%= form_tag "/login", method: :post do %>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <input type="submit" value="Log In">
<% end %>

            

               

            
            <!-- /LOGIN -->

             
            

          <p class="white-row">
            Don't have an account yet? <a href="/signup">Click to create one</a>!
          </p>

        </section>

      </div>
    </div>
    <!-- /WRAPPER -->

  </body>
</html> 