<h1>Login</h1>
<%= form_tag "/login", method: :post do %>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <input type="submit" value="Log In">
<% end %>
<!DOCTYPE html>      


    <!-- WRAPPER -->
    <div id="wrapper">

      <div id="shop">

        <!-- PAGE TITLE -->
        <header id="page-title">
          <div class="container">
            <h1>Sign In</h1>

            <ul class="breadcrumb">
              <li><a href="/login">Sign In</a></li>
              <li class="active">Sign In</li>
            </ul>
          </div>
        </header>


        <section class="container">

          <div class="row">

            <!-- LOGIN -->
            <div class="col-md-6">

              <h2>Sign <strong>In</strong></h2>

              <form class="white-row" method="post" action="/login">

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>E-mail Address</label>
                      <input type="text" value="email" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" value="password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <span class="remember-box checkbox">
                      <label for="rememberme">
                        <input type="checkbox" id="rememberme" name="rememberme">Remember Me
                      </label>
                    </span>
                  </div>
                  <div class="col-md-6">
                    <input type="submit" value="Sign In" class="btn btn-primary pull-right" data-loading-text="Loading...">
                  </div>
                </div>

              </form>

            </div>
            <!-- /LOGIN -->

            <!-- PASSWORD -->
            <div class="col-md-6">

              <h2>Forgot <strong>Password</strong>?</h2>

              <div class="white-row">

                <p>
                  Send us an email and we'll reset your password.
                </p>

                
                <!-- password form -->
                <label>Type your E-mail Address</label>
                <form class="input-group" method="post" action="/login">
                  <input type="text" class="form-control" name="s" id="s" value="" placeholder="E-mail Address" />
                  <span class="input-group-btn">
                    <button class="btn btn-primary">SEND</button>
                  </span>
                </form>

              </div>

            </div>
            <!-- /PASSWORD -->

          </div>


          <p class="white-row">
            Don't have an account yet? <a href="/signup">Click to create one</a>!
          </p>

        </section>

      </div>
    </div>
    <!-- /WRAPPER -->

  </body>
</html> 