<!-- WRAPPER -->
    <div id="wrapper">

      <div id="blog">

        <!-- PAGE TITLE -->
        <header id="page-title">
          <div class="container">
            <h1>UCC</h1>

            <ul class="breadcrumb">
              <li><a href="/blogs">UCC </a></li>
              <li class="active">UCC </li>
            </ul>
          </div>
        </header>

        <section class="container">

          <!-- article title -->
          <header class="blog-post">
            <h1>Keep up to date on UCC News</h1>
            
              <span class="label label-default light"></span> 
            </small>
          <script src="http://feeds.feedburner.com/UnitedChurchOfChrist?format=sigpro&nItems=10&displayTitle=false" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/UnitedChurchOfChrist">Powered by FeedBurner</p></noscript>
      </header>
       <header class="blog-post">
            <h1>UCC Daily Devotionals</h1>
            
              <span class="label label-default light"></span> 
            </small>
          <script src="http://feeds.feedburner.com/uccdailydevotional?format=sigpro&nItems=10&displayTitle=false" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/uccdailydevotional">Powered by FeedBurner</p></noscript>
      </header>



