

    <!-- WRAPPER -->
    <div id="wrapper">
    <div class="divider"><!-- divider -->
        <i class="fa fa-leaf"></i>
      </div>


      <section class="container text-center">
        <h1 class="text-center">
          Congregational Church of Jefferson Park<strong> UCC </strong>
          <span class="subtitle">An open and affirming congregation!</span>
        </h1>
        <p class="lead">Welcome to the website of the Congregational Church of Jefferson Park, an Open and Affirming Congregation of the United Church of Christ in northwest Chicago.  We are so happy that you have made your way to our website!  We hope that as you explore our website, you will want to come and worship with us, then hear us welcome you with our welcome song at fellowship time!</p>
      </section>


      <div class="divider"><!-- divider -->
        <i class="fa fa-leaf"></i>
      </div>


      <!-- ONE NATION -->
      <section class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="page-header nomargin-top">
              <strong class="styleColor">1861-2017 </strong>: 156 YEARS of WORSHIP and COMMUNITY SERVICE
            </h3>
            <p>The Congregational Church of Jefferson Park is comprised of people of faith who love music, community service, celebrating our historic faith traditions, and the exuberance of children , youth, and young adults. Beyond Sunday service, we also enjoy congregational parties, adult religious discussion groups, and fun-filled fund raisers.</p>
            <p>We are an intentionally open and affirming congregation. We welcome persons of every age, gender, race, nationality, ethnicity, gender identity or sexual orientation, political affiliation, economic and social status, educational background, physical or mental disability, faith background, marital standing, and family structure. We aspire to be a place for all to grow in <strong>spirit</strong> and <strong>faith</strong>.</p>
          </div>

          <div class="col-md-6">

            <!-- carousel -->
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
              <div>
                <img alt="" class="img-responsive" src="https://d3n8a8pro7vhmx.cloudfront.net/unitedchurchofchrist/pages/8172/attachments/original/1482445798/NewYearsEveGraphic.png?1482445798">
              </div>
              <div>
                <img alt="" class="img-responsive" src="assets/images/demo/home/church_slider_3.jpg">
              </div>
              <div>
                <img alt="" class="img-responsive" src="assets/images/demo/home/church_slider_2.jpg">
              </div>
            </div>
            <!-- /carousel -->

          </div>
        </div>
      </section>
      <!-- /ONE NATION -->


      <div class="divider"><!-- divider -->
        <i class="fa fa-leaf"></i>
      </div>


      <section class="container">
        <div class="row text-center">

          <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- item -->
            <div class="item-box">
              <figure>
                <a class="item-hover" href="realestate-single.html">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>READ</strong> MORE
                  </span>
                </a>
                <img alt="" class="img-responsive" src="assets/images/demo/home/church_thumb_1.jpg" width="409" height="271" />
              </figure>
              <div class="item-box-desc">
                <h4>Open and Affirming</h4>
                <p>Click here to read our open and affirming statement of faith.</p>
              </div>
            </div>
            <!-- /item -->

          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">

            <!-- item -->
            <div class="item-box">
              <figure>
                <a class="item-hover" href="realestate-single.html">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>READ</strong> MORE
                  </span>
                </a>
                <img alt="" class="img-responsive" src="assets/images/demo/home/church_thumb_2.jpg" width="409" height="271" />
              </figure>
              <div class="item-box-desc">
                <h4>Pastoral Care</h4>
                <p>If you or someone you know would like or is in need of a visit, click here</p>
              </div>
            </div>
            <!-- /item -->

          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">

            <!-- item -->
            <div class="item-box">
              <figure>
                <a class="item-hover" href="realestate-single.html">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>READ</strong> MORE
                  </span>
                </a>
                <img alt="" class="img-responsive" src="assets/images/demo/home/church_thumb_3.jpg" width="409" height="271" />
              </figure>
              <div class="item-box-desc">
                <h4>Volunteer</h4>
                <p>There are many ways to get involved.</p>
              </div>
            </div>
            <!-- /item -->

          </div>

        </div>
      </section>


      <div class="divider"><!-- divider -->
        <i class="fa fa-leaf"></i>
      </div>

    </div>
    <!-- /WRAPPER -->

