 

    <!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <header id="page-title"> <!-- style="background-image:url('../assets/images/demo/parallax_bg.jpg')" -->
        <!--
          Enable only if bright background image used
          <span class="overlay"></span>
        -->

        <div class="container">
          <h1>Boards, Committees, and Ministries</h1>

          <ul class="breadcrumb">
            <li><a href="/locations">Locations</a></li>
            <li class="active">Places for Church Events</li>
          </ul>
        </div>
      </header>


       
          <div class="col-md-9">

            <h2><strong>Locations for Church Events </strong></h2>

             
                 
  <% @locations.each do |location| %>
  <h2><a href="/locations/<%= location.id %>"><%= location.name %></a></h2>
  <h3> ID number: <%= location.id %></h3>


  <% end %>