<!-- WRAPPER -->
    <div id="wrapper">

      <div id="blog">

        <!-- PAGE TITLE -->
        <header id="page-title">
          <div class="container">
            <h1>CCJP News</h1>

            <ul class="breadcrumb">
              <li><a href="/blogs"> CCJP News </a></li>
              <li class="active">CCJP News </li>
            </ul>
          </div>
        </header>

        <section class="container">

          <!-- article title -->
          <header class="blog-post">
            <h1>Pastor's Message</h1>
            <img src="http://congregationalchurchofjeffersonpark.org/wp-content/uploads/2014/03/GayleTucker02Med.jpg"></a>
            
              <span class="label label-default light"></span> 
            </small>
          <div><p>May 2017</p>

<p>“How is your congregation or organization living into the United Church of Christ commitment to work for a Just World for All?”1</p>

<p>This is the opening question of an article in a recent edition of the UCC’s “Keeping You E-Posted” newsletter. Our General Minister and President Rev. John C. Dorhauer will be travelling around the country this spring asking this question. He will also be “offering a preview of an all-church mission initiative that will be introduced at General Synod, as part of the Just World for All vision, 3 Great Loves: Love of Children, Love of Creation, Love of Neighbor.”</p>

<p>Parker Palmer writes that “the mission of the church is not to enlarge its membership, not to bring outsiders to accept its terms, but simply to love the world in every possible way–to love the world as God did and does.”2 Gail R. O’Day states that the mission of the church ought to be “to bear unceasing witness to the love of God in Jesus.”3</p>

<p>Are you sensing a theme here? A certain four-letter word is essential to the mission of the church: LOVE.</p>

<p>How do we make Love essential to what we do and who we are as a congregation? How are we, as a congregation, showing God’s Love, and our love, of children? Of creation? Of our neighbors? And how is God’s Love working through us to work toward a Just World for All?</p>

<p>I encourage you to prayerfully consider these questions, and then to discuss them with your family and with others in the congregation.</p>

<p>Blessings,
Gayle</p>

          </div>
      </header>
       <header class="blog-post">
            <h1></h1>
            
              <span class="label label-default light"></span> 
            </small>
          <div>  </div>
      </header>
