<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <header id="page-title">
        <div class="container">
          <h1>Church Staff</h1>

          <ul class="breadcrumb">
            <li><a href="/staff">Home</a></li>
            <li class="active">Church Staff</li>
          </ul>
        </div>
      </header>

      <section class="container">

        <h2>Meet our<strong> staff</strong></h2>

        <p class="lead">Our wonderful, talented, and hardworking staff</p>

        <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
          <li data-option-value="*" class="active"><a href="#">Show All</a></li>
          <li data-option-value=""><a href="#">Individual</a></li>
          <li data-option-value=""><a href="#">Profiles</a></li>
        </ul>


        <div class="row">

          <ul class="sort-destination isotope" data-sort-id="isotope-list">

            <li class="isotope-item col-md-3 ceo"><!-- item 1 -->
              <div class="item-box fixed-box">
                <figure>
                  <img class="img-responsive" src="http://congregationalchurchofjeffersonpark.org/wp-content/uploads/2014/03/GayleTucker01.jpg" width="263" height="263" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Gayle Tucker</h4>
                  <small class="styleColor">Pastor</small>
                  <p></p>
                  <div class="text-center">
                    <p> </p>
                  </div>
                </div>
              </div>
            </li>

            <li class="isotope-item col-md-3 marketing"><!-- item 2 -->
              <div class="item-box fixed-box">
                <figure>
                  <img class="img-responsive" src="http://congregationalchurchofjeffersonpark.org/wp-content/uploads/2014/03/JoanieMoody-260x193.jpg" width="263" height="263" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Joanie Moody</h4>
                  <small class="styleColor">Church Secretary</small>
                  <p></p>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </li>

            <li class="isotope-item col-md-3 design"><!-- item 3 -->
              <div class="item-box fixed-box">
                <figure>
                  <img class="img-responsive" src="<li class="isotope-item col-md-3 design"><!-- item 3 -->
              <div class="item-box fixed-box">
                <figure>
                  <img class="img-responsive" src="http://congregationalchurchofjeffersonpark.org/wp-content/uploads/2014/03/ChuckBezold-260x193.jpg" width="263" height="263" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Chuck Bezold</h4>
                  <small class="styleColor">Choir Director</small>
                  <p></p>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </li>
            <li class="isotope-item col-md-3 design"><!-- item 4 -->
              <div class="item-box fixed-box">
                <figure>
                  <img class="img-responsive" src="http://congregationalchurchofjeffersonpark.org/wp-content/uploads/2014/04/Phil-7iot3mas.jpg" width="263" height="263" alt="">
                </figure>
                <div class="item-box-desc">
                  <h4>Philip Orem</h4>
                  <small class="styleColor">Pianist</small>
                  <p></p>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </li> 

          </ul>

        </div><!-- /.masonry-container -->

    
    <!-- /WRAPPER -->



   </body>
</html>