<!DOCTYPE html>    

		<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<header id="page-title"> <!-- style="background-image:url('../assets/images/demo/parallax_bg.jpg')" -->
				<!--
					Enable only if bright background image used
					<span class="overlay"></span>
				-->

				<div class="container">
					<h1>Shortcodes</h1>

					<ul class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Shortcodes</li>
					</ul>
				</div>
			</header>


			<section class="container">

				<div class="row">

					<aside class="col-md-3">

						<ul class="nav nav-list">
							<li><a href="shortcodes-rows.html"><i class="fa fa-circle-o"></i> Rows</a></li>
							<li><a href="shortcodes-counters.html"><i class="fa fa-circle-o"></i> Counters</a></li>
							<li><a href="shortcodes-toggles.html"><i class="fa fa-circle-o"></i> Toggles</a></li>
							<li><a href="shortcodes-forms.html"><i class="fa fa-circle-o"></i> Forms</a></li>
							<li><a href="shortcodes-editor.html"><i class="fa fa-circle-o"></i><span class="label label-warning pull-right">New</span> HTMl Editor</a></li>
							<li><a href="shortcodes-buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
							<li><a href="shortcodes-tabs-and-accordions.html"><i class="fa fa-circle-o"></i> Tabs &amp; Accordions</a></li>
							<li><a href="shortcodes-callouts.html"><i class="fa fa-circle-o"></i> Callouts</a></li>
							<li><a href="shortcodes-dividers.html"><i class="fa fa-circle-o"></i> Dividers</a></li>
							<li><a href="shortcodes-lightbox.html"><i class="fa fa-circle-o"></i> Lightbox</a></li>
							<li><a href="shortcodes-icons-and-boxes.html"><i class="fa fa-circle-o"></i> Icons &amp; Boxes</a></li>
							<li><a href="shortcodes-carousel.html"><i class="fa fa-circle-o"></i> Carousel</a></li>
							<li><a href="shortcodes-progress-bars.html"><i class="fa fa-circle-o"></i> Progress Bars</a></li>
							<li><a href="shortcodes-alerts.html"><i class="fa fa-circle-o"></i> Alerts</a></li>
							<li><a href="shortcodes-video.html"><i class="fa fa-circle-o"></i> Video</a></li>
							<li><a href="shortcodes-tooltips-and-popover.html"><i class="fa fa-circle-o"></i> Tooltips &amp; Popover</a></li>
							<li><a href="shortcodes-modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
						</ul>

					</aside>

					<div class="col-md-9">

						<h2><strong>Forms</strong> <small class="font300">Shortcodes</small></h2>

						<form action="#" method="post">
							<div class="row">

								<div class="col-md-12">
									<div class="form-group">
										<input type="text" value="" class="form-control" placeholder="Input Placeholder" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label>Select</label>
										<select class="form-control pointer">
											<option value="" selected="selected"></option>
											<option value="">Option #1</option>
											<option value="">Option #2</option>

											<optgroup label="Optgroup">
												<option value="">Option #1</option>
												<option value="">Option #2</option>
											</optgroup>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-6">
										<label>Input</label>
										<input type="text" value="" class="form-control" />
									</div>
									<div class="col-md-6">
										<label>Input</label>
										<input type="email" value="" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										<label>Input</label>
										<input type="text" value="" class="form-control" />
									</div>
									<div class="col-md-4">
										<label>Input</label>
										<input type="email" value="" class="form-control" />
									</div>
									<div class="col-md-4">
										<label>Input</label>
										<input type="email" value="" class="form-control" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">
										<label class="block">Checkbox</label>
										<input type="checkbox" value="" class="form-control" checked="checked" />
										<input type="checkbox" value="" class="form-control" />
										<input type="checkbox" value="" class="form-control" />
									</div>

									<div class="col-md-6">
										<label class="block">Radio</label>
										<input type="radio" name="radio_name" value="1" class="form-control" checked="checked" />
										<input type="radio" name="radio_name" value="2" class="form-control" />
										<input type="radio" name="radio_name" value="2" class="form-control" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12">
										<label>Textarea</label>
										<textarea rows="10" class="form-control"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary"><i class="fa fa-check"></i> FORM SUBMIT</button> 
									<button class="btn btn-primary disabled">FORM SUBMIT DISABLED</button>
								</div>
							</div>
						</form>

					</div>

				</div>


			</section>


		</div>
		<!-- /WRAPPER -->

	</body>
</html>